## Module 13 Exercise - Correlation and Linear Regression

### 1. Complete the code below to import the four libraries that we've primarily covered in the class.

In [33]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.formula.api as sm

### 2. Import the "babies.csv" file and name it df. 

<b>BACKGROUND INFO</b>

    The Child Health and Development Studies considered all pregnancies between 1960 and 1967 among women in the Kaiser Foundation Health Plan in the San Francisco East Bay area. The goal is to model the weight of the infants (bwt, in ounces) using variables including length of pregnancy in days (gestation), mother's age in years (age), mother's height in inches (height), whether the child was the first born (parity), mother's pregnancy weight in pounds (weight), and whether the mother was a smoker (smoke).

<b>VARIABLES</b>

    case - id number
    bwt - birthweight, in ounces
    gestation - length of gestation, in days
    parity - binary indicator for a first pregnancy (0=first pregnancy)
    age - mother's age in years
    height - mother's height in inches
    weight - mother's weight in pounds
    smoke - binary indicator for whether the mother smokes

In [2]:
df = pd.read_csv("babies.csv")

df.head()

   case  bwt  gestation  parity   age  height  weight  smoke
0     1  120      284.0       0  27.0    62.0   100.0    0.0
1     2  113      282.0       0  33.0    64.0   135.0    0.0
2     3  128      279.0       0  28.0    64.0   115.0    1.0
3     4  123        NaN       0  36.0    69.0   190.0    0.0
4     5  108      282.0       0  23.0    67.0   125.0    1.0

### 3. Check the shape of the dataset. How many columns are there? How many rows?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   case       1236 non-null   int64
 1   bwt        1236 non-null   int64
 2   gestation  1223 non-null   float64
 3   parity     1236 non-null   int64
 4   age        1234 non-null   float64
 5   height     1214 non-null   float64
 6   weight     1200 non-null   float64
 7   smoke      1226 non-null   float64
dtypes: float64(5), int64(3)
memory usage: 77.4 KB

### 4. Check the first 10 rows and the last 10 rows of the dataset. Drop the column "case".

In [7]:
df.head(10)

   case  bwt  gestation  parity   age  height  weight  smoke
0     1  120      284.0       0  27.0    62.0   100.0    0.0
1     2  113      282.0       0  33.0    64.0   135.0    0.0
2     3  128      279.0       0  28.0    64.0   115.0    1.0
3     4  123        NaN       0  36.0    69.0   190.0    0.0
4     5  108      282.0       0  23.0    67.0   125.0    1.0
5     6  136      286.0       0  25.0    62.0    93.0    0.0
6     7  138      244.0       0  33.0    62.0   178.0    0.0
7     8  132      245.0       0  23.0    65.0   140.0    0.0
8     9  120      289.0       0  25.0    62.0   125.0    0.0
9    10  143      299.0       0  30.0    66.0   136.0    1.0

In [8]:
df.tail(10)

      case  bwt  gestation  parity   age  height  weight  smoke
1226  1227  109      244.0       1  21.0    63.0   102.0    1.0
1227  1228  103      278.0       0  30.0    60.0    87.0    1.0
1228  1229  118      276.0       0  34.0    64.0   116.0    0.0
1229  1230  127      290.0       0  27.0    65.0   121.0    0.0
1230  1231  132      270.0       0  27.0    65.0   126.0    0.0
1231  1232  113      275.0       1  27.0    60.0   100.0    0.0
1232  1233  128      265.0       0  24.0    67.0   120.0    0.0
1233  1234  130      291.0       0  30.0    65.0   150.0    1.0
1234  1235  125      281.0       1  21.0    65.0   110.0    0.0
1235  1236  117      297.0       0  38.0    65.0   129.0    0.0

In [9]:
df.drop(columns = "case", inplace = True)

df.head()

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0
1  113      282.0       0  33.0    64.0   135.0    0.0
2  128      279.0       0  28.0    64.0   115.0    1.0
3  123        NaN       0  36.0    69.0   190.0    0.0
4  108      282.0       0  23.0    67.0   125.0    1.0

### 5. Is there any missing data in the dataset? Use whichever code you like to check.

In [10]:
df.isnull().sum()

bwt           0
gestation    13
parity        0
age           2
height       22
weight       36
smoke        10
dtype: int64

### 6. The amount of missing data is small considering the size of our dataset. Drop all rows in the dataset that have missing data. Create a copy of your dataset without missing data.

In [11]:
df.dropna(inplace = True)

df

      bwt  gestation  parity   age  height  weight  smoke
0     120      284.0       0  27.0    62.0   100.0    0.0
1     113      282.0       0  33.0    64.0   135.0    0.0
2     128      279.0       0  28.0    64.0   115.0    1.0
4     108      282.0       0  23.0    67.0   125.0    1.0
5     136      286.0       0  25.0    62.0    93.0    0.0
...   ...        ...     ...   ...     ...     ...    ...
1231  113      275.0       1  27.0    60.0   100.0    0.0
1232  128      265.0       0  24.0    67.0   120.0    0.0
1233  130      291.0       0  30.0    65.0   150.0    1.0
1234  125      281.0       1  21.0    65.0   110.0    0.0
1235  117      297.0       0  38.0    65.0   129.0    0.0

[1174 rows x 7 columns]

### 7. Are there any duplicate rows in the dataset? Check, if there are, drop them.

In [12]:
df.drop_duplicates(inplace = True)

df

      bwt  gestation  parity   age  height  weight  smoke
0     120      284.0       0  27.0    62.0   100.0    0.0
1     113      282.0       0  33.0    64.0   135.0    0.0
2     128      279.0       0  28.0    64.0   115.0    1.0
4     108      282.0       0  23.0    67.0   125.0    1.0
5     136      286.0       0  25.0    62.0    93.0    0.0
...   ...        ...     ...   ...     ...     ...    ...
1231  113      275.0       1  27.0    60.0   100.0    0.0
1232  128      265.0       0  24.0    67.0   120.0    0.0
1233  130      291.0       0  30.0    65.0   150.0    1.0
1234  125      281.0       1  21.0    65.0   110.0    0.0
1235  117      297.0       0  38.0    65.0   129.0    0.0

[1174 rows x 7 columns]

### 8. Check each of your numeric columns for outliers - pick one method and use it for all the columns.

In [25]:
dfz = df.copy()

In [28]:
print(dfz.shape)

(1174, 7)

In [30]:
dfz.describe()

               bwt    gestation          age       height       weight
count  1174.000000  1174.000000  1174.000000  1174.000000  1174.000000
mean    119.462521   279.101363    27.228279    64.049404   128.478705
std      18.328671    16.010305     5.817839     2.526102    20.734282
min      55.000000   148.000000    15.000000    53.000000    87.000000
25%     108.000000   272.000000    23.000000    62.000000   114.250000
50%     120.000000   280.000000    26.000000    64.000000   125.000000
75%     131.000000   288.000000    31.000000    66.000000   139.000000
max     176.000000   353.000000    45.000000    72.000000   250.000000

In [36]:
dfz["zscore_bwt"] = np.abs(stats.zscore(dfz["bwt"]))
dfz["zscore_gestation"] = np.abs(stats.zscore(dfz["gestation"]))
dfz["zscore_age"] = np.abs(stats.zscore(dfz["age"]))
dfz["zscore_height"] = np.abs(stats.zscore(dfz["height"]))
dfz["zscore_weight"] = np.abs(stats.zscore(dfz["weight"]))
dfz.head()

,bwt,gestation,parity,age,height,weight,smoke,zscore_weight,zscore_bwt,zscore_gestation,zscore_age,zscore_height
0,120,284.0,No,27.0,62.0,100.0,nonsmoker,1.374093,0.029337,0.306098,0.039255,0.811637
1,113,282.0,No,33.0,64.0,135.0,nonsmoker,0.314652,0.352741,0.181125,0.992496,0.019566
2,128,279.0,No,28.0,64.0,115.0,smoker,0.650346,0.465998,0.006334,0.132704,0.019566
4,108,282.0,No,23.0,67.0,125.0,smoker,0.167847,0.625654,0.181125,0.727088,1.168541
5,136,286.0,No,25.0,62.0,93.0,nonsmoker,1.711842,0.902658,0.431071,0.383171,0.811637

In [37]:
z_outliers_bwt = dfz.loc[dfz["zscore_bwt"] > 3].index
z_outliers_gestation = dfz.loc[dfz["zscore_gestation"] > 3].index
z_outliers_age = dfz.loc[dfz["zscore_age"] > 3].index
z_outliers_height = dfz.loc[dfz["zscore_height"] > 3].index
z_outliers_weight = dfz.loc[dfz["zscore_weight"] > 3].index

## Preview list of index values
print(z_outliers_bwt)
print(z_outliers_gestation)
print(z_outliers_age)
print(z_outliers_height)
print(z_outliers_weight)

Int64Index([632, 829, 912, 978, 1139], dtype='int64')
Int64Index([  10,  129,  240,  253,  260,  462,  710,  761,  829,  833,  869,
             969,  978, 1152, 1172, 1199],
           dtype='int64')
Int64Index([1070], dtype='int64')
Int64Index([20, 175, 434, 1208], dtype='int64')
Int64Index([88, 117, 149, 181, 183, 426, 522, 563, 608, 622, 723, 849, 858,
            865, 924, 1148],
           dtype='int64')

### 9. Print the descriptive statistics for each numeric column. What is the average age of the mothers? What is the average gestation period?

In [14]:
df.describe()

,bwt,gestation,parity,age,height,weight,smoke
count,1174.000000,1174.000000,1174.000000,1174.000000,1174.000000,1174.000000,1174.000000
mean,119.462521,279.101363,0.262351,27.228279,64.049404,128.478705,0.390971
std,18.328671,16.010305,0.440100,5.817839,2.526102,20.734282,0.488176
min,55.000000,148.000000,0.000000,15.000000,53.000000,87.000000,0.000000
25%,108.000000,272.000000,0.000000,23.000000,62.000000,114.250000,0.000000
50%,120.000000,280.000000,0.000000,26.000000,64.000000,125.000000,0.000000
75%,131.000000,288.000000,1.000000,31.000000,66.000000,139.000000,1.000000
max,176.000000,353.000000,1.000000,45.000000,72.000000,250.000000,1.000000

### 10. Let's model birthweight based on the characteristics of the mother. We want to distinguish between the numeric and categorical variables. Replace the values 0/1 in the parity and smoke column with meaningful labels (i.e. smokes, doesn't smoke).

In [15]:
df["parity"].replace([0, 1], ["No", "Yes"], inplace = True)
df["smoke"].replace([0, 1], ["nonsmoker", "smoker"], inplace = True)
df

      bwt  gestation parity   age  height  weight      smoke
0     120      284.0     No  27.0    62.0   100.0  nonsmoker
1     113      282.0     No  33.0    64.0   135.0  nonsmoker
2     128      279.0     No  28.0    64.0   115.0     smoker
4     108      282.0     No  23.0    67.0   125.0     smoker
5     136      286.0     No  25.0    62.0    93.0  nonsmoker
...   ...        ...    ...   ...     ...     ...        ...
1231  113      275.0    Yes  27.0    60.0   100.0  nonsmoker
1232  128      265.0     No  24.0    67.0   120.0  nonsmoker
1233  130      291.0     No  30.0    65.0   150.0     smoker
1234  125      281.0    Yes  21.0    65.0   110.0  nonsmoker
1235  117      297.0     No  38.0    65.0   129.0  nonsmoker

[1174 rows x 7 columns]

### 11. Run a correlation matrix with your dataset. Which variables are correlated with birthweight? Describe the strength of the correlation between all the continuous independent variables and birthweight.

In [16]:
df.corr()

                bwt  gestation       age    height    weight
bwt        1.000000   0.407543  0.026983  0.203704  0.155923
gestation  0.407543   1.000000 -0.053425  0.070470  0.023655
age        0.026983  -0.053425  1.000000 -0.006453  0.147322
height     0.203704   0.070470 -0.006453  1.000000  0.435287
weight     0.155923   0.023655  0.147322  0.435287  1.000000

### 12. Determine the relationship between birthweight and the categorical variables: parity and smoke. Use the groupby function to determine if there are any differences between birthweight and the different levels of the variables.  Does it seem like there is a relationship between these variables and birthweight?

In [18]:
df["bwt"].groupby(df["parity"]).mean()

parity
No     119.942263
Yes    118.113636
Name: bwt, dtype: float64

In [19]:
df["bwt"].groupby(df["smoke"]).mean()

smoke
nonsmoker    123.085315
smoker       113.819172
Name: bwt, dtype: float64

### 13. Let's construct your regression model. Firstly, which variables do you plan to include in your model, and why? In the space below, write your justification for why you are including each variable.

### 14. Construct your regression model and print the summary. Write out your full interpretation of the regression results. If you are not happy with the results, tweak your model and run it again.

In [21]:
result = sm.ols('height ~ bwt + weight + gestation + C(smoke)', data = df).fit()

## print the regression model summary
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 height   R-squared:                       0.215
Model:                            OLS   Adj. R-squared:                  0.212
Method:                 Least Squares   F-statistic:                     79.89
Date:                Thu, 07 Apr 2022   Prob (F-statistic):           5.76e-60
Time:                        19:52:54   Log-Likelihood:                -2611.4
No. Observations:                1174   AIC:                             5233.
Df Residuals:                    1169   BIC:                             5258.
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             54.7288      1.215     45.041      0.000      52.345      57.113
C(smoke)[T.smoker]     0.4232      0.139      3.054      0.002       0.151       0.695
bwt                    0.0219      0.004      5.363      0.000       0.014       0.030
weight                 0.0506      0.003     15.814      0.000       0.044       0.057
gestation              0.0001      0.004      0.031      0.976      -0.009       0.009
==============================================================================
Omnibus:                       37.831   Durbin-Watson:                   1.926
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               58.468
Skew:                          -0.288   Prob(JB):                     2.01e-13
Kurtosis:                       3.929   Cond. No.                     6.13e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### 15. Create three scenarios (i.e. make up specific values) and predict the birthweight given these factors using the information on the model you were most pleased with.

In [22]:
result.predict({
    'bwt': 8, 
    'weight': 16, 
    'gestation': 5.7, 
    'smoke': "nonsmoker"})

0    55.714501
dtype: float64

In [23]:
result.predict({
    'bwt': 273, 
    'weight': 245, 
    'gestation': 5.7, 
    'smoke': "nonsmoker"})

0    73.103407
dtype: float64

In [24]:
result.predict({
    'bwt': 210, 
    'weight': 245, 
    'gestation': 30, 
    'smoke': "smoker"})

0    72.151497
dtype: float64

## Great Job!! Submit your assignment via Canvas.